body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
  height: 25px;
  padding: 5px;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 2px black;
  border-radius: 2px;
  margin-bottom: 5px;
  font-size: .9rem;
  opacity: .5;
}
input:focus{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.774);
  transition: box-shadow 0.1s ease-in;
}

.card{
  width: 18rem !important;
  margin: 15px;
  transition: transform .5s ease-out;
}
.card img{  
  max-height: 150px;
}

.card:hover{
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 9999;
}